@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
.A{
    font-family: 'Merriweather', serif;
    color: whitesmoke;
    padding-top: 50px;
    text-align: center;
    background-image: url(Black2.png);
    background-image: url(Banner\ Image.png);
    background-repeat:no-repeat ;
    padding-top: 30px;
    padding-left: 230px;
    padding-right: 400px;
    padding-bottom: 144px;
    font-size: 40px;
    font-weight: 700;
    line-height: 100px;
    margin-left: 500px; 
    margin-right: auto;
    width: 40%;
    height: 200%;
    border-radius: 16px 16px 16px 16px;
    display: block;
    margin-top: 50px;
}
#Year{
    font-size: 30px;
    font-weight: 400;
    padding-top: 30px;
}
.B{
    font-family: 'Inter', sans-serif;
    font-size: 88px;
    padding-top: auto;
    padding-bottom: auto;
    padding-left: 950px;
    padding-right: auto;
    color: red;
    font-weight: 700;
}
#subtitle{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: red;
    padding-top: auto;
    padding-bottom: auto;
    padding-left: 970px;
    padding-right: auto; 
}
#subtitle2{
    font-family:'Inter', sans-serif;
    font-size: 40px;
    font-weight: 700;
    padding-top: auto;
    padding-bottom: auto;
    padding-left: 975px;
    padding-right: auto;
}

.new-year-image{
    padding-top: auto;
    padding-bottom: auto;
    padding-left: 750px;
    padding-right: auto;
}
.vector-image{
    padding-top: auto;
    padding-bottom: auto;
    padding-left: 250px;
    padding-right: auto;
}
.group-seventy{
    padding-top: auto;
    padding-bottom: auto;
    padding-left: auto;
    padding-right: auto;
    position: absolute;
    top: 1900px;
    left:1600px;
}
.text{
    font-family: 'Merriweather', serif;
    padding-top: auto;
    padding-bottom: auto;
    padding-left: auto;
    padding-right: auto;
    position: absolute;
    top: 1800px;
    left:400px;
    color: white;
    font-size: 100px;
}
.fox{
    font-family: 'Merriweather', serif;
    padding-top: auto;
    padding-bottom: auto;
    padding-left: auto;
    padding-right: auto;
    position: absolute;
    top: 2100px;
    left:400px;
    color: white;
}
.hex{
    font-family:'Inter', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    padding-top: auto;
    padding-bottom: auto;
    padding-left: auto;
    padding-right: auto;
    position: absolute;
    top: 2300px;
    left:400px;
    color: white;
}
.OK{
    padding-top: 500px;
    padding-bottom: 500px;
    padding-left: auto;
    padding-right: auto;
}
.timing{
    font-family:'Inter', sans-serif;
    padding-left: 700px;
    padding-top: 120px;
    margin-top: 100px;
    padding-bottom: 200px;
    background-image: url(pink\ gradient.jpg);
    margin-left: 300px;
    margin-right: 300px;
    left: 200px;
    border: 10px;
    border-radius: 10px;
}
.Join-button{
    font-family:'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    border: 150px;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 35px;
    padding-right:35px;
    margin-top: auto;
    margin-left: 1100px;
}
.fire-works{
    display: block;
    display: flex;
    border: 10px solid red;
    border-radius: 500px ;
    background-repeat: no-repeat;
    text-align: center;
}
.C{
    padding-top: 10px;
    padding-bottom: auto;
    padding-left: auto;
    padding-right: auto;
}
.footer{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    border-radius: 5px;
    background: black;
    border:0;
    color: white;
}